body{
    background-color: #bdc646;
}

h1{
    color: #9b79b8;
}

h2{
    color:yellow;
}

li{
    color:#7f0f89
}
p{
    background: white;
}
input{
    border: red solid 2px;
}
.hello{
    background: blue;
    color:white;
}
#s{
    border: 10px  orange solid ;
}


input[type="text"]{
    background: green;
}

input:checked{
    margin-left:20px;
}

label{
    text-transform: uppercase;
}

#s:first-letter{
    color: green;
    font-size: 100px;
}

h1:hover{
    color: white;
    border: 10px solid red;
}
a:visited{
    color: yellow;
}